{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">
    TODO List
    <a href="{% url 'todo-app:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  {% for task in task_list %}
    <div class="card p-0 mb-2">
      <div class="card-body {% if task.is_done == True %}opacity-50{% endif %}">
        <h5>{{ task.content }}</h5>
        <p class="text-muted">{{ task.created_at|date:"D, d M Y" }}</p>
        <p class="text-secondary">Tags:
          {% for tag in task.tags.all %}
            <span>{{ tag.name }}</span>
          {% endfor %}
        </p>
        <a href="{% url 'todo-app:task-update' pk=task.id %}" class="btn btn-success">
          Update task
        </a>
        <a href="{% url 'todo-app:task-delete' pk=task.id %}" class="btn btn-danger">
          Delete task
        </a>
      </div>
    </div>
  {% empty %}
  {% endfor %}
{% endblock %}
